.avatar-wrapper {
  position: relative;
  display: inline-block;

  .avatar {
    display: block;
    overflow: hidden;
    height: 50px;
    width: 50px;
    @extend .circle;

    img {
      width: 50px;
    }
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid rgba(255,255,255,.5);
    transition: transform .15s, border-color .15s;
  }

  &:hover::after {
    transform: scale(1.2);
    border-color: $section-light-bg-color;
    transition: transform .2s cubic-bezier(.06,.59,.24,1.55),
                border-color .2s;
  }
}


.team {

  h3 {
    display: inline-block;
    margin-top: 0;
    padding-bottom: 8px;
  }

  p.caption {
    color: #888;
    margin-bottom: 40px;
  }

  .divider {
    margin: 40px 0 80px;
  }

  .avatar-wrapper {
    &:hover::after {
      transform: scale(1.15);
    }
    &::after {
      border-width: 4px;
    }

    display: block;
    width: 80%;
    max-width: 150px;
    margin: 0 auto 30px;

    .avatar {
      width: 100%;
      padding-bottom: 100%;

      img {
        width: 100%;
      }

      &::after {
        border-width: 10px;
      }
    }
  }

  .avatar-name {
    margin-top: 20px;
    display: block;
    text-align: center;

    .name {
      font-weight: 500;
      font-size: 18px;
    }

    .title {
      display: block;
      font-weight: 300;
      font-size: 14px;
      color: #888;
    }
  }
}

@media #{$small-and-down} {
  .team {
    .avatar-wrapper {
      margin: 0 auto;
    }

    .avatar-name {
      margin-bottom: 40px;
    }
  }
}